.App {
  text-align: center;
}

.App-header {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c2caf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
}

a {
  color: #61dafb;
}

.svg-icons{
  transform: scale(1.5);
}

#webcam-text {
  line-height: 2em;
}
